<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972027550217-gsdc4vqrn8funbrrdunqevfot5sgjsg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972027550217-gsdc4vqrn8funbrrdunqevfot5sgjsg2</string>
	<key>API_KEY</key>
	<string>AIzaSyCUfsG1tNkLL2ikjgbcozsOpCfSU8k2Z-U</string>
	<key>GCM_SENDER_ID</key>
	<string>972027550217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.animetv</string>
	<key>PROJECT_ID</key>
	<string>animetv-1ae1e</string>
	<key>STORAGE_BUCKET</key>
	<string>animetv-1ae1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972027550217:ios:feca0d789d9716673db6d8</string>
</dict>
</plist>